body {
    background-color:#ececec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #385170;
}

h5,
h6 {
  text-align: center;
}

.navbar {
    /* background-color:#9fd3c7; */
    padding: 0px;
    border-bottom:2px solid #142d4c;
  }
   
.navbar .navbar-brand {
    color: white;
    background-color: #385170;
    padding: 5px;
    margin: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color:#142d4c;
}

.navbar-light .navbar-nav .nav-link:hover { 
    color: white;
    background-color: #385170;
} 

.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover { 
    color: white;
    background-color: #385170;
}

.top-buffer { 
    margin-top:20px; 
}

@media (max-width: 768px) {
    .navbar {
        background-color: #385170; 
        color: white;
    }
    .navbar .navbar-nav .nav-link {
        color:white;
    }
    .navbar .navbar-nav .nav-link:hover {
        color:black;
    }
    .navbar-light span.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        color: white;
      }body {
        background-color:#ececec;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #385170;
    }
    
    h5,
    h6 {
      text-align: center;
    }
    
    .navbar {
        /* background-color:#9fd3c7; */
        padding: 0px;
        border-bottom:2px solid #142d4c;
      }
       
    .navbar .navbar-brand {
        color: white;
        background-color: #385170;
        padding: 5px;
        margin: 0px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color:#142d4c;
    }
    
    .navbar-light .navbar-nav .nav-link:hover { 
        color: white;
        background-color: #385170;
    } 
    
    .navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover { 
        color: white;
        background-color: #385170;
    }
    
    .top-buffer { 
        margin-top:20px; 
    }
    
    @media (max-width: 768px) {
        .navbar {
            background-color: #385170; 
            color: white;
        }
        .navbar .navbar-nav .nav-link {
            color:white;
        }
        .navbar .navbar-nav .nav-link:hover {
            color:black;
        }
        .navbar-light span.navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            color: white;
          }
    }